@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* Share style */
.display-flex{
    display: flex;
}
.text-white{
   color: #FFFFFF;
}
.color-green{
    color: #00FF88;
    display: flex;
    justify-content: center;
}
.colourful{
    background: linear-gradient(to right, yellow,#FB09B4,#FB09B4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.btn-primary{
   background: linear-gradient(to right, yellow,#FB09B4,#FB09B4);
    padding: 12px 16px;
    border-radius: 10000px;
    display: inline-flex;
    border: none;
    font-weight: 600;
    font-size: 1rem;
    color: #FFFFFF;
    margin: 10px;
    gap: 4px;
}
/* navbar related style */
header{
    max-width: 1600px;
    margin: 0 auto;
    background-color: rgba(26, 11, 46, 1);
}
.navbar{
    background-color: rgba(26, 11, 46, 1);
    width: 75%;
    max-width: 1200px;
    margin: 0 auto;
    /* border: 1px solid red; */
    justify-content: space-between;
    align-items: center;
}
.nav-link{
    text-decoration: none;
    font-weight: 200;
    font-size: 1rem;
    gap: 314px;
}
.nav-item{
    list-style: none;
    margin-right: 25px;
}
.nav-links{
    text-align: center;
}
/* Banner */
.banner-section{
    background-image: url("./assets/hero-bg.png");
    background-position: center;
    max-width: 1600px;
    height: 550px;
    margin: 0 auto;
    padding: 101px 0px;
    padding-bottom: 120px;
    /* border: 1px solid red; */
    /* padding-bottom: 130px; */
}
.banner-circle{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    /* border: 1px solid white; */
}
.micro{
    position:absolute;
    /* top: 50%; */
    /* left: 50%; */
    /* transform: translate(-50%, -50%); */
}
.badge{
    position: absolute; 
    /* left: 5%;
    right: 5%; */
    padding: 8px 16px;
    border-radius: 1000px;
    margin-top: -300px;
    margin-right: -200px;
    background-color: #00FF88;
    box-shadow: 0px 3px 27px 0px rgba(0, 255, 136, 0.5);
    border: none;
    font-weight: 600;
    font-size: 1.12rem;
}
.banner-title{
     display: flex;
    justify-content: center;
    color: #FFFFFF;
    font-weight: 900;
    font-size: 3rem;
    /* gap: 2px; */
    /* padding-top: 40px; */
    /* padding-top: 40px; */
}
.banner-name{
    display: flex;
    justify-content: center;
    color: #FFFFFF;
    font-weight: 200;
    font-size: 1rem;
    margin-top: -80px;
}
.banner-btn{
    display: flex;
    justify-content: center;
    padding-bottom: 110px;
}
.start{
    display: inline-flex;
    gap: 8px;
    align-items: center;
    padding: 12px 20px;
    /* justify-content: center; */
}
.see{
    background: rgba(26, 11, 46, 1);
    border:1px solid #00FF88;
    padding: 12px 20px;
    gap: 8px;
    font-weight: 600;
    font-size: 1rem;
    color: #00FF88;
}
/* shared About the podcast style */
.podcast-section{
    background-color: rgba(26, 11, 46, 1);
    max-width: 1600px;
    margin: 0 auto;
    margin-top: 0px;
    padding-top: 50px;
    padding-bottom: 200px;
    /* border: 1px solid red; */
}
.podcast-title{
    text-align: center;
    width: 75%;
    max-width: 1200px;
    margin: 0 auto;
}
.podcast-para{
    font-weight: 200;
    font-size: 1rem;
    margin-top: 16px;
    margin-bottom: 96px;
}
.podcast-heading2{
    margin-top: 1px;
    font-weight: 900;
    font-size: 3rem;
    margin-bottom: 16px;
}
.podcast-heading3{
    font-weight: 900;
    font-size: 2.8rem;
    margin-top: 1px;
   margin-bottom: 16px;
}
.podcast-name{
    font-weight: 400;
    font-size: 1rem;
    color: #FFFFFF;
}
.podcast-container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 75%;
  max-width: 1200px;
  margin: 0 auto;
  border-top: 1px solid  rgba(255, 255, 255, 1);
  text-align: center;
}
.podcast-card{
    /* border: 1px solid red; */
    margin-top: 80px;
    max-width: 246px;
    height: 96px;
    gap: 80px;
}
/* Choose TechWave style */
.techwave-section{
    max-width: 1600px;
    margin: 0 auto;
    padding-bottom: 80px;
    padding-top: 10px;
    /* border: 1px solid gold; */
    background:  rgba(35, 14, 61, 1);;
}
.techwave-title{
    margin-top: 120px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    font-weight: 600;
    font-size: 2rem;
}
.techwave-container{
    /* border: 1px solid red; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto auto;
  gap: 40px;
  width: 75%;
  max-width: 1200px;
  margin: 0 auto;
  /* padding-bottom: 120px; */
  /* border: 1px solid red; */
}
.card-1 {
  grid-row: span 2;
}

.card-2 {
  grid-column: span 2;
}

.card-3 {
  grid-column: span 2;
}
.card-4{
    grid-column: span 2;
}
.card-5 {
  grid-column: span 1;
}
.heading{
    color: #FFFFFF;
    /* text-align: left; */
    align-items: flex-start;
}
.card p{
    font-weight: 200px;
    font-size: 1rem;
}
.card {
  background:rgba(53, 17, 101, 0.4);;
  border-radius: 16px;
  padding: 40px 40px;
  color: #fff;
}

/* shared featured */
.featured-section{
    /* border: 1px solid red; */
   max-width: 1600px;
   margin: 0 auto;
   padding: 120px 0px;
   background: rgba(26, 11, 46, 1);
}
.featured-title{
    display: flex;
    justify-content: center;
    font-weight: 600;
    font-size: 2.5rem;
}
.featured-container{
    /* border: 1px solid red; */
    background: rgba(26, 11, 46, 1);
    display: flex;
    justify-content: center;
    width: 75%;
    max-width: 1200px;
    margin: 0 auto;
    gap: 30px;
    border-radius: 24px;
}
.video-if{
    border-radius: 25px;
}
.video-card{
    background: rgba(37, 13, 68, 1);
    height: 440px;
    width: 690px;
    padding-bottom: 24px;
    border-radius: 25px;
}
h3{
    color: #00FF88;
     margin: 24px 24px;
    display: inline-flex;
    gap: 8px;
}
.featured-name{
    /* border: 1px solid red; */
    margin: 24px 24px; 
    color: #FFFFFF;
}
.heading-space{
    align-items: center;
    gap: 6px;
}
.featured-text{
    font-weight: 200;
    font-size: 1rem;
    color: #fff;
    padding: 0px 20px;
}
.meet-h1{
    display: flex;
    justify-content: center;
    font-weight: 700;
    font-size: 2.8rem;
}
.alex-image{
    padding: 20px 50px;
}
.alex-details{
    padding-right: 30px;
}
.alex-para{
    font-weight: 200;
    font-size: 1rem;
}
.social{
   margin-right: 8px;
}
.container-alex{
    /* border: 1px solid red; */
    justify-content: space-between;
    background:rgba(53, 17, 101, 0.4); 
    border-radius: 35px;
    width: 75%;
    max-width: 1200px;
    margin: 0 auto;
}
/* footer style */
.footer-footer{
    max-width: 1600px;
    margin: 0 auto;
    background-color:rgba(53, 17, 101, 0.4) ;
    background-position: center;
    background-image: url("assets/footer-bg.png ");
    padding-top: 120px;
    padding-bottom: 160px;
}
.footer-container{
    width: 75%;
    max-width: 1200px;
    margin: 0 auto;
}
.footer-title{
    display: flex;
    justify-content: center;
    font-weight: 900;
    font-size: 3rem;
    /* padding-bottom: 120px; */
}
.footer-img{
    display: flex;
    justify-content: center;
    /* display: inline-flex; */
    color: #FFFFFF;
    gap: 40px;
    font-weight: 200;
    font-size: 1rem;
    margin-top: -70px;
     /* padding-bottom: 40px; */
}
.footer-year{
    display: flex;
   justify-content: center;
   color: rgba(250, 250, 250, 1);
   font-weight: 200;
   font-size: 1rem;
}
.footer-social{
    display: inline-flex;
    gap: 10px;
}
@media screen and (max-width:576px){
    .navbar,.nav-links{
        flex-direction: column;
    }
}